---
import { Loader } from '@navikt/ds-react';
import styles from './ContentLoader.module.css';

const x = 1 + 1;
---

<div class={styles.contentloader}>
  <Loader variant="interaction" title="Laster inn side.." size="2xlarge" />
</div>
