---
import Layout from '../layouts/Layout.astro';
import { Heading, Alert } from '@navikt/ds-react';
import Microfrontend from '../components/microfrontend/Microfrontend';
import { getServerSideEnvironment } from '../utils/server/environment';
import { mikrofrontendUrlServer } from '../utils/server/microfrontend';

const userData = Astro.locals.userInfo;
const groupName = '...';

function adGroup({
  adGroupDevelopment,
  adGroupProduction,
}: {
  adGroupDevelopment: string;
  adGroupProduction: string;
}) {
  return getServerSideEnvironment() === 'prod'
    ? adGroupProduction
    : adGroupDevelopment;
}

const x = {
  app: 'ATTESTASJON',
  title: 'Attestasjon',
  description: 'Attestering av oppdrag',
  group: adGroup({
    adGroupDevelopment: '0de8d01f-8ad0-4391-841c-55392956bc17',
    adGroupProduction: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx',
  }),
  url: mikrofrontendUrlServer('sokos-up-attestasjon'),
};

function checkGroup(uuid: string) {
  return userData.adGroups.includes(uuid);
}

const hasAccess = checkGroup(x.group);
---

<Layout>
  <div>
    {
      hasAccess ? (
        <Microfrontend url={x.url} userData={userData} client:only="react" />
      ) : (
        <Alert variant="warning">Du har ikke tilgang til denne applikasjonen</Alert>
      )
    }
  </div>
</Layout>
