---
import Layout from '../layouts/Layout.astro';
import { Heading } from '@navikt/ds-react';
import MicrofrontendContainer from '../components/microfrontend/MicrofrontendContainer';
import {getOboToken} from "../utils/server/token";

const info = Astro.locals.userInfo;
    ---

<Layout>
  <div>
    <div>
      <Heading size={'large'}> sokos-utbetalingsportalen-astro-azure </Heading>
    </div>
  </div>
  <MicrofrontendContainer info={info} client:only="react">
  </MicrofrontendContainer>
</Layout>
