---
import Layout from '../layouts/Layout.astro';
import { Heading } from '@navikt/ds-react';
import AstroIsland from "../components/astro-island/AstroIsland.astro";
---

<Layout>
  <div>
    <div>
      <Heading size={'large'}> sokos-utbetalingsportalen-astro-azure </Heading>
    </div>
  </div>
  <AstroIsland server:defer>
    <div slot="fallback">Navn: Laster inn data...</div>
  </AstroIsland>
</Layout>
