---
import { BodyLong, GuidePanel, Heading } from '@navikt/ds-react';
import Layout from '../layouts/Layout.astro';
import styles from './index.module.css';
import AppSwitcher from '../components/appswitcher/AppSwitcher';

const userInfo = Astro.locals.userInfo;
---

<Layout>
  <main id="main-content" role="main">
    <div class={styles['home']}>
      <div class={styles['home-guidepanel']}>
        <div class={styles['home-heading']}>
          <Heading level="1" size="large" spacing>
            God dag, {userInfo.name}
          </Heading>
        </div>
        <GuidePanel poster>
          <Heading level="2" size="small" spacing>
            Informasjon om utbetalingsportalen
          </Heading>
          <BodyLong spacing>
            Utbetalingsportalen er en ny platform som på sikt skal overta
            funksjoner fra Økonomiportalen og Abetal i en ny og forbedret
            versjon.
          </BodyLong>
        </GuidePanel>
      </div>
      <div>
        <AppSwitcher adGroups={userInfo.adGroups} client:only="react" />
      </div>
    </div>
  </main>
</Layout>
