body {
  background-color: var(--a-bg-subtle);
}

.main {

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 4rem 1.5rem 0 4rem;
  }
  
}